
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #270082;
  --secondary-color: #281154;
  --light-color: #1b0058;
}

body {
  overflow: hidden auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100px;
  z-index: 10;
}

.nav svg{
  position: absolute;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.toggle{
  display: none;
}

.nav_list{
  padding: 20px;
}

.open {
  transform: translateX(300px);
  animation: preload 2s ease-in-out forwards; /* Add 'forwards' to keep the final state */
}

@keyframes preload {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

.stayed {
  transform: translateX(0) !important; /* Ensure it stays at 0 */
}


.nav .close{
  top: 0;
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav_list ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  color: rgba(255, 255, 255, 0.844);
  text-decoration: none;
  position: relative;
  margin-bottom: 5px;
  transition: all 1s;
}

ul li a::after {
  content: "";
  background-color: white;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

ul li a:hover {
  color: white;
}

ul li a:hover::after {
  width: 100%;
  bottom: -5px;
}

/* Header----------------------------------------------------- */

header {
  background-image: url(static/hero_image.png);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
}

header .content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  gap: 20px;
}

.content h1 {
  font-size: 50px;
}

.content p:nth-of-type(1) {
  font-size: 30px;
}

.content p:nth-of-type(2) {
  font-size: 20px;
}
/* Main------------------------------------------------------- */

main {
  background: linear-gradient(to bottom, #281154, white 60%);
  overflow: hidden;
}

.main {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  gap: 20px;
  margin: auto;
  overflow: hidden;
}

.main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 40px;
  padding-top: 30px;
}

.main p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
}

.main button {
  background-color: #dc0000;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  transition: all 1s;
}

.main button:hover {
  background-color: #dc00009a;
  border: 2px solid red;
}

.main p:nth-of-type(2) {
  font-size: 18px;
}

.main img {
  width: 80vw;
}

.main_2 {
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  gap: 20px;
  margin: auto;
}

.main_2 p {
  font-size: 20px;
  font-weight: bold;
}

.main_2 button {
  background-color: var(--light-color);
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  transition: all 1s;
}

.main_2 button:hover {
  background-color: #1a0058e0;
  border: 2px solid #1b0058;
}

.main_2 img {
  width: 80vw;
}
/* Section----------------------------------------------------- */
section {
  background-image: url(static/video.png);
  height: 80vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 20;
  position: relative;
}

section .vid {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 30px;
  align-items: center;
}

section .vid p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

section .vid p:nth-of-type(2) {
  font-size: 17px;
  color: white;
}

.animate-on-scroll {
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Start slightly below */
  transition: opacity 1s ease, transform 1s ease; /* Transition properties */
}

.animate-on-scroll.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 30px;
  margin: 5px;
  align-items: center;
}

.card2 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.card2 button {
  background-color: var(--light-color);
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  transition: all 1s;
  width: max-content;
}

.card2 button:hover {
  background-color: #1a0058e0;
  border: 2px solid #1b0058;
}

.card2 p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
}

.card2 p:nth-of-type(2) {
  font-size: 18px;
}

.card2 p:nth-of-type(3) {
  font-size: 17px;
}
.linked {
  background-color: var(--light-color);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  color: white;
  flex-wrap: wrap;
}

.link p:nth-of-type(1) {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.link p:nth-of-type(1)::after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
footer .owner {
  display: flex;
  gap: 20px;
  color: white;
}

footer a {
  color: white;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

footer a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
}

footer a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
}

.top{
  position: absolute;
  z-index: 10px;
  top: 0;
  left: 0;
  background-color: red;
}

.top_btn{
  position: fixed;
  z-index: 10;
  top: 120px;
  right: 0;
  margin: 20px;

}

.bottom_btn{
  position: fixed;
  z-index: 10;
bottom: 0;
  right: 0;
  margin: 20px;

}

@media screen and (max-width: 900px) {
  .cards {
    width: 80vw;
    margin: 5px;
    flex-direction: column;
    line-height: 24px;
  }

  .nav_list{
    box-shadow: none;
    display: block;
  }

  .nav .toggle{
    display: none;
  }
  .nav .close{
    display: none;
  }
}


@media screen and (max-width: 700px) {
  .nav_list{
    box-shadow: inset -1px -1px 5px white;
    display: none;
    position: absolute;
    right: 20px;
    background-color: #270082;
  }

  .nav .close{
    top: -30px !important;
    right: -20px !important;
  }
  .nav .toggle{
display: block;
  }
  
}



