
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;

}

body {
  overflow: hidden auto;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e2e2e2;
  background-color: var(--lighting-color) !important;
  height: 100px;
  overflow: hidden;
  width: 100vw;
  z-index: 20;
}

nav img {
  width: 200px;
filter: invert(1);
  margin: 10px;
  position: relative;
  z-index: 60;
}

.blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0.9;
}

main {
background-image: url(static/hero.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  color: var(--secondary-color);
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-attachment: fixed;
}

main img{
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.names {
  position: relative;
  width: max-content;
}

.Designer span:nth-child(1) {
  font-size: 3rem;
  color: var(--lighting-color);
  font-weight: bolder;
  animation: bounce 1s ease-in-out alternate;
}

.Designer span:nth-child(1)::after {
  content: "";
  margin-right: 15px;
  font-size: 3rem;
  display: inline-block;
  animation: typing 1.5s steps(3) infinite;
}

@keyframes typing {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.Designer span:nth-child(3) {
  font-size: 2rem;
}
.Designer span:nth-child(4) {
  font-size: 2rem;
  margin: 20px;
  background: linear-gradient(
    to right,
    var(--lighting-color),
    var(--secondary-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: text;
}

@keyframes bounce {
  from {
    color: transparent;
  }
  to {
    color: var(--lighting-color);
  }
}

.job {
  position: absolute;
  overflow: hidden;
  font-size: 2rem;
  margin-top: -20px;
  white-space: nowrap;
  border-right: 5px solid transparent;
  width: 0;
  animation: text 7s ease-in-out infinite alternate,
    tick 1s ease-in-out infinite;
}

.job::after {
  content: "";
  width: 80%;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--lighting-color),
    var(--secondary-color)
  );
  position: absolute;
  bottom: 0;
  left: 0;
}
.names p {
  font-size: 2rem;
  visibility: hidden;
  color: red;
}

@keyframes text {
  0% {
    color: var(--lighting-color);
    width: 0;
  }
  50% {
    color: var(--secondary-color);
    width: 100%;
  }

  100% {
    color: var(--lighting-color);
    width: 0;
  }
}

@keyframes tick {
  from {
    border-right: 5px solid transparent;
  }
  to {
    border-right: 5px solid orange;
  }
}

.hr {
  width: 100vw;
  height: 4px;
  background-color: var(--lighting-color);
}

section {
  padding: 20px;
}

section h1 {
  width: 100vw;
  text-align: center;
}

.cards {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  flex-wrap: wrap;
  gap: 30;
}



.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  cursor: pointer;
  height: 400px;
  border-radius: 10px;
  margin: 30px 15px;
  box-shadow: 0px 0px 10px var(--dark-color);
  align-items: end;
  transition: all 0.9s ease-in-out;
  position: relative;
  overflow: hidden;
}

.text {
  background-color: white;
  width: 100%;
  height: 0;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  overflow: hidden;
  transition: all 1s ease-in-out;
  position: absolute;
  bottom: 0;
}

.bg {
  background-color: black;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 0.9s ease-in-out;
}
.card img {
  width: 100%;
  height: 100%;
  object-position: center;
  transition: all 2s ease-in-out;
  overflow: hidden;
 
}

.card:hover img {
  transform: scale(1.6); 
  height: calc(100% - 50px);
}

.noimg:hover img{
  transform: none; 
}


.card:hover {
  transform: scale(1.1);
  .bg {
    opacity: 0.2;
    height: calc(100% - 50px);
  }
  .text {
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
  }

}

.contacts {
  background-color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.contact {
  width: 53px;
  height: 50px;
  cursor: pointer;
  background-size: cover;
  position: relative;
}

/* Initial Transformations for Each Contact */
.contacts .contact:nth-child(1) {
  background-image: url(static/fb.png);
  transform: translateY(50px);
}
.contacts .contact:nth-child(2) {
  background-image: url(static/ins.png);
  transform: translateY(-50px);
}
.contacts .contact:nth-child(3) {
  background-image: url(static/upw.jpg);
  transform: translateY(50px);
}
.contacts .contact:nth-child(4) {
  background-image: url(static/st.png);
  transform: translateY(-50px);
}
.contacts .contact:nth-child(5) {
  background-image: url(static/dis.jpg);
  transform: translateY(50px);
}
.contacts .contact:nth-child(6) {
  background-image: url(static/git.png);
  transform: translateY(-50px);
}

/* Active State Animation */
.contacts .contact.active-contact {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.9s ease, opacity 0.5s ease;
}



.shadow {
  width: calc(70px * 6);
  height: 20px;
  position: absolute;
  margin-top: -70px;
  box-shadow: 0 8px 8px -6px black;
  border: 1px solid white;
  background-color: white;
}

.code {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transform: perspective(500px) scaleZ(2) rotateX(-180deg);
  transition: all 0.5s ease-in-out;
  opacity: 0;
box-shadow:  inset 0px 0px 10px black;
position: relative;
}



.contact:hover .code{
  opacity: 1;
  transform: perspective(500px) scaleZ(2) rotateX(-360deg);
  transform: translateY(50px);
  color: black;
}


.code .x{
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.code .x:hover{
  transform: scale(1.5);
  font-weight: bold;
}

footer{
  margin-top: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  color: white;
  font-weight: bold;
  font-style: italic;
  position: relative;
}

footer::after{
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  opacity: 0.3;
}

footer span{
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span::before{
  content: "";
  width: 50%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -3px;
  box-shadow: 0px 0px 10px white; 
  animation: line 3s ease-in-out infinite;
}

@keyframes line {
  0% {
    color: var(--lighting-color);
    width: 0;
  }
  50% {
    color: var(--secondary-color);
    width: 100%;
  }

  100% {
    color: var(--lighting-color);
    width: 0;
  }
}

.copied_link{
  position: absolute;
  bottom: -35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 10px white;
  font-size: 13px;
  display: none;
}

/* General initial styles for elements */
.card, img {
  opacity: 0;
  transform: translateY(20px); /* initial off-screen position */
  transition: all 0.5s ease-out;
}



/* Animations when elements come into view */
.active-card {
  opacity: 1;
  transform: translateY(0); /* Slide-in animation */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.active-contact {
  opacity: 1;
  transform: scale(1.1); /* Zoom-in effect */
  transition: transform 0.6s ease, opacity 0.5s ease;
}

.active-img {
  opacity: 1;
  transform: rotate(360deg); /* Rotation effect */
  transition: transform 1s ease, opacity 0.5s ease;
}

@media (max-width: 768px) {
  main {
   height: 30vh;
    gap: 10px;
  }

  main img {
    width: 150px;
    height: 150px;
  }

  .Designer span:nth-child(1) {
    font-size: 2.5rem;
  }

  .Designer span:nth-child(3),
  .Designer span:nth-child(4),
  .job {
    font-size: 1.5rem;
  }
}

/* Small screens (phones) */
@media (max-width: 480px) {
  main {
    flex-direction: column;
    gap: 5px;
  }

  main img {
    width: 120px;
    height: 120px;
  }

  .Designer span:nth-child(1) {
    font-size: 2rem;
  }

  .Designer span:nth-child(3),
  .Designer span:nth-child(4),
  .job {
    font-size: 1.2rem;
  }

  .names p {
    font-size: 1.2rem;
  }
}